section#mmos .card {
  height: 100%;
}

section#mmos .card .card-body {
  display: flex;
  flex-direction: column;
}

section#mmos .card .card-body a {
  align-self: flex-start;
  margin-top: auto;
}

section#mmos .card img {
  height: 200px;
  object-fit: cover;
}
