section#hero {
  min-height: 500px;
  height: 100%;
  padding: 1rem;
  background-image: linear-gradient(
    to right top,
    #d8cb40,
    #f6a32e,
    #ff7444,
    #ff3f6a,
    #eb1297
  );
  color: white;
}

section#hero img {
  height: 500px;
}
